<nav class="navbar navbar-ligth bg-primary">
  <div class="container-fluid d-flex flex-column flex-md-row">
    <h3 style="color:aliceblue">Meeting App</h3>

    <div>
      <button class="btn  me-2 "> <a class="text-decoration-none" routerLink="meeting">Meetings</a></button>
      <button class="btn me-2 "> <a class="text-decoration-none" routerLink="signup">Sign Up</a></button>
      <button class="btn "><a class="text-decoration-none" routerLink="login">Login</a></button>
    </div>
  </div>

</nav>
