<div class="container " style="height: 100vh;">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-4 ">
        <ul class="list-group text-center ">
          <li class="list-group-item">Ali ARGUNDOGAN</li>
          <li class="list-group-item">+90 536 583 30 49</li>
          <li class="list-group-item">
            <a
              href="https://github.com/argun8394/angular_projects/tree/main/angular_crypto_website"
              >Proje linki</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

