<div class="container-fluid">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <span class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
      <img class="logo" src="../../../assets/bitlo_logo_white_@2x.webp">
    </span>

    <ul class="nav nav-pills">
      <li class="nav-item"><a routerLink="/" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
        true}">home</a></li>
      <li class="nav-item"><a routerLink="marketler" class="nav-link "  routerLinkActive="active" ariaCurrentWhenActive="page">markets</a></li>
      <li class="nav-item"><a routerLink="profil" class="nav-link "  routerLinkActive="active" ariaCurrentWhenActive="page">Profile</a></li>
      <li class="nav-item"><a routerLink="login" class="nav-link "  routerLinkActive="active" ariaCurrentWhenActive="page">Login</a></li>
      <li class="nav-item"><a href="#" class="nav-link ms-2" (click)="logout()">Logout</a></li>

    </ul>
  </header>
</div>
