<div class="table-container">
  <h3>Bakiye</h3>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Asset Logo</th>
        <th>Asset Code</th>
        <th>Available Amount</th>
        <th>Available Amount TRY</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of balance; let i = index">
      <tr>
        <td>logo</td>
        <td>{{ item.assetCode }}</td>
        <td>{{ item.availableAmount }}</td>
        <td>{{ item.availableAmount }}</td>
      </tr>
    </tbody>
  </table>
</div>
