<div class="table-container">
  <h3>Açık Emirler</h3>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>marketCode</th>
        <th>orderSide</th>
        <th>orderDate</th>
        <th>price</th>
        <th>orderAmount</th>
        <th>fillAmount</th>
        <th>Fill percent</th>
      </tr>
    </thead>
    <tbody *ngFor="let order of orderList; let i = index">
      <tr>
        <td>{{ order.marketCode }}</td>
        <td>{{ order.orderSide }}</td>
        <td>{{ order.orderDate }}</td>
        <td>{{ order.price | number : '1.2-2' }}</td>
        <td>{{ order.orderAmount | number : '1.2-2' }}</td>
        <td>{{ order.fillAmount | number : '1.2-2'}}</td>
        <td>{{ order.fillAmount / order.orderAmount   | percent :'1.2-2'}}</td>
      </tr>
    </tbody>
  </table>
</div>
